/****** Script for SelectTopNRows command from SSMS  ******/
SELECT resp.[SURVEY_ID]
      ,[ITMD_NAM]
      ,[ITMD_NO1]
      ,[ITMD_NO2]
      --,[ITMDCD]
      --,[ITMDNAM]
      ,[ITMDNO]
      ,[ITCSN]
	  --,enc.PAT_ENC_CSN_ID
	  --,enc.AcctNbr_int
	  --,acct.sk_Fact_Pt_Acct
	  --,acct.AcctNbr_int
	  ,ser3.PROV_ID AS fact_Pat_Enc_CSN_Id_PROV_ID
	  ,ser3.Prov_Nme AS fact_Pat_Enc_CSN_Id_Prov_Nme
	  --,atn.Prov_Id AS atn_Prov_Id
	  --,ser1.PROV_ID AS ITMD_NO2_PROV_ID
	  --,ser1.Prov_Nme AS ITMD_NO2_Prov_Nme
	  ,fact.sk_Dim_Physcn AS fact_sk_Dim_Physcn
	  ,doc.DisplayName
	  ,ser2.PROV_ID AS fact_sk_Dim_Physcn_PROV_ID
	  ,ser2.Prov_Nme AS fact_sk_Dim_Physcn_Prov_Nme
      --,[CLIENT_ID]
      --,[SERVICE_Pivoted]
      ,resp.[RECDATE]
      ,resp.[DISDATE]
      --,[A1]
      --,[A14]
      --,[A2]
      --,[A3]
      --,[A4]
      --,[A5]
      --,[A67]
      --,[A7]
      --,[ACO_01]
      --,[ACO_01C]
      --,[ACO_02]
      --,[ACO_02C]
      --,[ACO_03]
      --,[ACO_03C]
      --,[ACO_04]
      --,[ACO_04C]
      --,[ACO_05]
      --,[ACO_05C]
      --,[ACO_06]
      --,[ACO_06C]
      --,[ACO_07]
      --,[ACO_07C]
      --,[ACO_08]
      --,[ACO_08C]
      --,[ACO_09]
      --,[ACO_09C]
      --,[ACO_10]
      --,[ACO_10C]
      --,[ACO_11]
      --,[ACO_11C]
      --,[ACO_12]
      --,[ACO_12C]
      --,[ACO_13]
      --,[ACO_13C]
      --,[ACO_14]
      --,[ACO_14C]
      --,[ACO_15]
      --,[ACO_15C]
      --,[ACO_16]
      --,[ACO_16C]
      --,[ACO_17]
      --,[ACO_17C]
      --,[ACO_18]
      --,[ACO_18C]
      --,[ACO_19]
      --,[ACO_19C]
      --,[ACO_20]
      --,[ACO_20C]
      --,[ACO_21]
      --,[ACO_21C]
      --,[ACO_22]
      --,[ACO_22C]
      --,[ACO_23]
      --,[ACO_23C]
      --,[ACO_24]
      --,[ACO_24C]
      --,[ACO_25]
      --,[ACO_25C]
      --,[ACO_26]
      --,[ACO_26C]
      --,[ACO_27]
      --,[ACO_27C]
      --,[ACO_28]
      --,[ACO_28C]
      --,[ACO_29]
      --,[ACO_29C]
      --,[ACO_30]
      --,[ACO_30C]
      --,[ACO_31]
      --,[ACO_31C]
      --,[ACO_32]
      --,[ACO_32C]
      --,[ACO_33]
      --,[ACO_33C]
      --,[ACO_34]
      --,[ACO_34C]
      --,[ACO_35]
      --,[ACO_35C]
      --,[ACO_36]
      --,[ACO_36C]
      --,[ACO_37]
      --,[ACO_37C]
      --,[ACO_38]
      --,[ACO_38C]
      --,[ACO_39]
      --,[ACO_39C]
      --,[ACO_40]
      --,[ACO_40C]
      --,[ACO_41]
      --,[ACO_41C]
      --,[ACO_42]
      --,[ACO_42C]
      --,[ADJSAMP]
      --,[AGE]
      --,[BARCODE]
      --,[C2561_1]
      --,[CG_1]
      --,[CG_18]
      --,[CG_18CL]
      --,[CG_19]
      --,[CG_19CL]
      --,[CG_2]
      --,[CG_20]
      --,[CG_20CL]
      --,[CG_21]
      --,[CG_21CL]
      --,[CG_22]
      --,[CG_22CL]
      --,[CG_23]
      --,[CG_23CL]
      --,[CG_24]
      --,[CG_24CL]
      --,[CG_25]
      --,[CG_25CL]
      --,[CG_26]
      --,[CG_26CL]
      --,[CG_27]
      --,[CG_27CL]
      --,[CG_28]
      --,[CG_28CL]
      --,[CG_29]
      --,[CG_29CL]
      --,[CG_2CL]
      --,[CG_34]
      --,[CG_34CL]
      --,[CG_35]
      --,[CG_35CL]
      --,[CG_36A]
      --,[CG_36ACL]
      --,[CG_36B]
      --,[CG_36BCL]
      --,[CG_36C]
      --,[CG_36CCL]
      --,[CG_36D]
      --,[CG_36DCL]
      --,[CG_36E]
      --,[CG_36ECL]
      --,[CG_36F]
      --,[CG_36FCL]
      --,[CG_37]
      --,[CG_37CL]
      --,[CG_38A]
      --,[CG_38ACL]
      --,[CG_38B]
      --,[CG_38BCL]
      --,[CG_38C]
      --,[CG_38CCL]
      --,[CG_38D]
      --,[CG_38DCL]
      --,[CG_38E]
      --,[CG_38ECL]
      --,[CG_57]
      --,[CG_57CL]
      --,[CMPTADDC]
      --,[CMPTNAME]
      --,[CMPTPHON]
      --,resp.[COMPLETE]
      --,[CP1]
      --,[CP10]
      --,[CP2]
      --,[CP3]
      --,[CP4]
      --,[CP5]
      --,[CP6]
      --,[CP7]
      --,[CP8]
      --,[CP9]
      --,[D2561_01]
      --,[D2561_IN]
      --,[DISTRIB]
      --,[DVC_TP_E]
      --,[DVC_TP_S]
      --,[EATLESS]
      --,[EMOTSAFE]
      --,[FLOATING]
      --,[FVISIT]
      --,[HOWDID]
      --,[HOWSTRSS]
      --,[I1]
      --,[I104]
      --,[I127]
      --,[I128]
      --,[I129]
      --,[I130]
      --,[I131]
      --,[I148]
      --,[I185]
      --,[I2]
      --,[I2PR]
      --,[I3]
      --,[I30]
      --,[I31]
      --,[I38]
      --,[I3PR]
      --,[I60]
      --,[I60PR]
      --,[INTEGMED]
      --,[IT_CNTY]
      ,[ITACCTN2]
      ,[ITACCTNO]
      --,[ITADD2]
      --,[ITADMDAT]
      --,[ITADMSRC]
      --,[ITADMTIM]
      --,[ITAGE]
      --,[ITAREA]
      --,[ITB_CITY]
      --,[ITB_STAT]
      --,[ITB_ZIP]
      --,[ITBED]
      --,[ITCAN_FL]
      --,[ITCARE_N]
      --,[ITCAREDE]
      --,[ITCITY]
      --,[ITCLIENT]
      ,[ITCLINIC]
      ,[ITCLNCID]
      --,[ITCNTY]
      --,[ITCNYTCD]
      --,[ITDCG_DA]
      --,[ITDCG_SP]
      --,[ITDCG_ST]
      --,[ITDCGCD]
      --,[ITDCGDIS]
      --,[ITDCGTIM]
      --,[ITDECEAS]
      ,[ITDEPIDN]
      ,[ITDEPT]
      ,[ITDEPT_I]
      ,[ITDEPTLK]
      --,[ITDIAG_A]
      --,[ITDIAG_B]
      --,[ITDIAG_D]
      --,[ITDIAG_E]
      --,[ITDIAG_F]
      --,[ITDIAGC]
      --,[ITDISDAT]
      --,[ITDOB]
      --,[ITDRG]
      --,[ITE_FLAG]
      --,[ITED_FLA]
      --,[ITFILL_1]
      --,[ITFILL_2]
      --,[ITFILLR1]
      --,[ITFN_CLS]
      --,[ITG_ADDR]
      --,[ITG_NAME]
      --,[ITGADDR1]
      --,[ITGADDR2]
      --,[ITGRP_DE]
      --,[ITGRP_NO]
      --,[ITHOSP_I]
      --,[ITICD_1]
      --,[ITICD_2]
      --,[ITICD_3]
      --,[ITICD_4]
      --,[ITICD_5]
      --,[ITICD_6]
      --,[ITICU_FL]
      --,[ITINS1]
      --,[ITLANG]
      --,[ITLOCATI]
      --,[ITLOS]
      --,[ITMDSITE]
      --,[ITMDSPEC]
      --,[ITMEDICA]
      --,[ITMEDREC]
      --,[ITNO_PUB]
      ,[ITNPI]
      ,[ITP_NAME]
      --,[ITPAT_AG]
      --,[ITPAT_CL]
      ,[ITPAT_NA]
      ,[ITPATNO]
      --,[ITPATTYP]
      --,[ITPAYTYP]
      --,[ITPHONE]
      --,[ITPRIMDR]
      --,[ITRACE]
      --,[ITRAD_FL]
      --,[ITREF_SR]
      --,[ITRES_CD]
      --,[ITRESIDE]
      --,[ITRESOUR]
      --,[ITRSS_GR]
      --,[ITRSS_LO]
      --,[ITSERVTY]
      --,[ITSEX]
      --,[ITSEX_CD]
      --,[ITSITE]
      --,[ITSITE_I]
      --,[ITSRG_FL]
      --,[ITSTATE]
      --,[ITSTATUS]
      --,[ITSTR_DA]
      --,[ITSVC_LI]
      --,[ITSVC1]
      --,[ITSVCDAT]
      --,[ITTASK_D]
      --,[ITUNIT]
      --,[ITUVA_AP]
      --,[ITUVA_FL]
      --,[ITVISTCD]
      --,[ITZIP]
      --,[L3]
      --,[LANGUAGE]
      --,[N1]
      --,[N1PR]
      --,[N2]
      --,[N24]
      --,[N25]
      --,[N26]
      --,[N27]
      --,[N28]
      --,[N29]
      --,[N2PR]
      --,[N30]
      --,[N33]
      --,[N37]
      --,[NOHLTHTR]
      --,[NOTSEEDR]
      --,[O1]
      --,[O15]
      --,[O15PR]
      --,[O2]
      --,[O2PR]
      --,[O3]
      --,[O4]
      --,[OPEN1]
      --,[OPEN103]
      --,[OPEN22]
      --,[OPEN56]
      --,[OPEN78]
      --,[PAGELINK]
      --,[PHYSSAFE]
      ,[PROVID]
      --,[PROVINFO]
      --,[READMATR]
      --,[SECTACCE]
      --,[SECTCARE]
      --,[SECTMOVT]
      --,[SECTNURS]
      --,[SECTOVER]
      --,[SECTPERS]
      --,[SECTRNCA]
      --,[SECTSUPP]
      --,[SECTTRTH]
      --,[SECTVISI]
      --,[SEX]
      --,[SITEID]
      --,[SP]
      --,[STBLHOUS]
      --,[SUPSTAFF]
      --,[TIMECOMP]
      --,[UTILSERV]
      --,[V1]
      --,[V19]
      --,[V2]
      --,[V2PR]
      --,[V3]
      --,[V4]
      --,[V5]
      --,[V52]
      --,[V53]
      --,[V6]
      --,[V60]
      --,[V7]
      --,[WAITCP]
      --,[WAITRM]
  FROM [DS_HSDW_Stage].[PressGaney].[Pivot_MD] resp
  --LEFT OUTER JOIN [DS_HSDW_Prod].[Rptg].[vwFact_Pt_Enc_Atn_Prov_All] atn
  --ON atn.PAT_ENC_CSN_ID = CAST(resp.ITCSN AS NUMERIC(18,0))
  LEFT OUTER JOIN DS_HSDW_Prod.rptg.vwDim_Clrt_SERsrc ser1
  ON ser1.PROV_ID = resp.ITMD_NO2
  --LEFT OUTER JOIN (SELECT SURVEY_ID, sk_Dim_Physcn FROM DS_HSDW_Prod.rptg.vwFact_PressGaney_Responses WHERE sk_Dim_PG_Question = 805) fact
  LEFT OUTER JOIN (SELECT DISTINCT SURVEY_ID, sk_Dim_Physcn, Pat_Enc_CSN_Id FROM DS_HSDW_Prod.dbo.Fact_PressGaney_Responses) fact
  ON fact.SURVEY_ID = resp.SURVEY_ID
  LEFT OUTER JOIN (SELECT sk_Dim_Physcn, DisplayName FROM DS_HSDW_Prod.rptg.vwDim_Physcn WHERE current_flag = 1 AND sk_Dim_Physcn > 0) doc
  ON doc.sk_Dim_Physcn = fact.sk_Dim_Physcn
  LEFT OUTER JOIN DS_HSDW_Prod.rptg.vwDim_Clrt_SERsrc ser2
  ON ser2.sk_Dim_Physcn = fact.sk_Dim_Physcn
  AND fact.sk_Dim_Physcn > 0
  LEFT OUTER JOIN DS_HSDW_Prod.Rptg.vwFact_Pt_Enc_Clrt enc
  ON enc.PAT_ENC_CSN_ID = fact.Pat_Enc_CSN_Id
  LEFT OUTER JOIN DS_HSDW_Prod.rptg.vwDim_Clrt_SERsrc ser3
  ON ser3.sk_Dim_Clrt_SERsrc = enc.sk_Dim_Clrt_SERsrc
  LEFT OUTER JOIN DS_HSDW_Prod.Rptg.vwFact_Pt_Acct_Aggr acct
  ON acct.sk_Fact_Pt_Acct = enc.sk_Fact_Pt_Acct
--  WHERE resp.SURVEY_ID IN (1346082952
--,1367989692
--,1367987430
--,1368001912
--,1394734080
--,1410887766
--,1422143101
--,1412290502
--,1412283729
--,1412305367
--,1412297907
--,1426585069
--,1453721616
--,1455181495
--,1455181363
--,1463547761
--,1466478938
--,1496028688
--,1496729540
--,1497115861
--,1499165462
--,1515517978
--,1530487495
--,1529430301
--,1543135797
--,1520050505
--,1558732065
--,1558732284
--,1559490581
--,1568082246
--,1578412144
--,1573359564
--,1606904823
--,1606899048
--,1611814636
--,1578410531
--,1611814795
--,1634992995
--,1644842289
--,1614115232
--,1662636783
--,1662636818
--,1662637641
--,1666936704
--,1667802313
--,1682716282
--,1674055105
--,1639241140
--,1683822754
--,1695354663
--,1683822998
--,1699019870
--,1702141772
--,1683822612
--,1685789283
--,1711308923
--,1684864789
--,1682715313
--,1717385732
--,1718275259
--,1739713491
--,1754903911
--,1739712647
--,1740280415
--,1762265347
--,1776878880
--,1713214247
--,1762267014
--,1744029063
--,1768499204
--,1785140595
--,1797308158
--,1798155292
--,1787663275
--,1786074013
--,1802926790
--,1794111466
--,1811152319
--,1809193090
--,1814480672
--,1822621692
--,1827306610
--,1818524226
--,1821671216
--,1810268305
--,1834098689
--,1838674529
--,1838673996
--,1852989883
--,1858706116
--,1883802069
--,1904911053
--,1898775901
--,1947969384
--,1961403326
--,1955310145
--)
WHERE resp.ITMDNO IN ('683367','68705')
  ORDER BY ITMDNAM
         , DISDATE