USE DS_HSDM_App

SELECT [metric_key]
      ,[Metric_Name]
      ,[dept_level]
      ,[hsarea_id]
      ,[dept_id]
      ,[dept_id_name]
      ,[fyear]
      ,[current]
      ,[comparator]
      ,[target]
      ,[threshold]
      ,[stretch]
      ,[format]
      ,[precision]
      ,[suffix]
      ,[NA]
      ,[TBD]
      ,[instance]
      ,[project_id]
      ,[record]
      ,[Load_Dtm]
      ,[Blank]
  FROM [DS_HSDM_App].[TabRptg].[Dash_Targets_Redcap_FY2022]
  WHERE Metric_Name LIKE '%Experience%'
  AND dept_level <> 'department'
  AND dept_level <> 'unit'
  ORDER BY Metric_Name, dept_level, dept_id