/****** Script for SelectTopNRows command from SSMS  ******/
SELECT resp.[SURVEY_ID]
      ,resp.[sk_Dim_PG_Question]
	  ,qust.QUESTION_TEXT
      --,[VALUE]
      ,resp.[RECDATE]
	  ,pvt.ITNPI
      ,resp.[NPI]
	  --,pvt.ITMDNO
	  --,pvt.ITMD_NO1
	  --,pvt.ITMD_NO2
   --   ,resp.[sk_Dim_Physcn]
	  ----,doc.sk_Dim_Physcn AS doc_sk_Dim_Physcn
   --   ,[sk_Fact_Pt_Acct]
   --   ,[FY]
   --   ,[sk_Dim_Pt]
   --   ,[PG_AcctNbr]
   --   ,resp.[Svc_Cde]
   --   ,[sk_Rec_Dte]
   --   ,resp.[DISDATE]
   --   ,[RESP_CAT]
   --   ,[Dim_RSS_Group_sk]
   --   ,[Dim_RSS_Location_sk]
   --   ,resp.[Load_Dtm]
   --   ,[sk_Dim_Clrt_DEPt]
   --   ,resp.[UpDte_Dtm]
   --   ,[Survey_Designator]
   --   ,[Pat_Enc_CSN_Id]
  FROM [DS_HSDW_Prod].[dbo].[Fact_PressGaney_Responses] resp
  INNER JOIN DS_HSDW_Prod.dbo.Dim_PG_Question qust
  ON resp.sk_Dim_PG_Question = qust.sk_Dim_PG_Question
  INNER JOIN (SELECT SURVEY_ID, ITMD_NO1, ITMD_NO2, ITMDNO, ITNPI FROM DS_HSDW_Stage.PressGaney.Pivot_MD) pvt
  ON resp.SURVEY_ID = pvt.SURVEY_ID
  --LEFT OUTER JOIN (SELECT IDNumber,sk_Dim_Physcn FROM DS_HSDW_Prod.dbo.Dim_Physcn WHERE current_flag = 1) doc
  --ON doc.IDNumber = CAST(pvt.ITMDNO AS INTEGER)
--  WHERE resp.SURVEY_ID IN (1941702980
--,1944275636
--,1961403326
--,1961402275
--,1940570161
--,1949953490
--,1959290422
--,1882908903)
--AND resp.[sk_Dim_PG_Question] = 805
WHERE resp.[sk_Dim_PG_Question] = 805
--AND resp.RECDATE BETWEEN '7/1/2019 00:00 AM' AND '11/30/2019 11:59 PM'
AND resp.RECDATE >= '7/1/2019 00:00 AM'
--ORDER BY resp.SURVEY_ID
--       , sk_Dim_PG_Question
ORDER BY resp.RECDATE
       , resp.SURVEY_ID

--SELECT resp.[SURVEY_ID]
--      ,resp.[sk_Dim_PG_Question]
--	  ,qust.QUESTION_TEXT
--      ,[VALUE]
--      ,[sk_Dim_Physcn]
--	  ,pvt.ITMDNO
--	  ,pvt.ITMD_NO1
--	  ,pvt.ITMD_NO2
--	  ,pvt.ITNPI
--      ,[NPI]
--      ,[sk_Fact_Pt_Acct]
--      ,[FY]
--      ,[sk_Dim_Pt]
--      ,[PG_AcctNbr]
--      ,resp.[Svc_Cde]
--      ,resp.[RECDATE]
--      ,[sk_Rec_Dte]
--      ,resp.[DISDATE]
--      ,[RESP_CAT]
--      ,[Dim_RSS_Group_sk]
--      ,[Dim_RSS_Location_sk]
--      ,resp.[Load_Dtm]
--      ,[sk_Dim_Clrt_DEPt]
--      ,resp.[UpDte_Dtm]
--      ,[Survey_Designator]
--      ,[Pat_Enc_CSN_Id]
--  FROM [DS_HSDW_Prod].[dbo].[Fact_PressGaney_Responses] resp
--  INNER JOIN DS_HSDW_Prod.dbo.Dim_PG_Question qust
--  ON resp.sk_Dim_PG_Question = qust.sk_Dim_PG_Question
--  INNER JOIN (SELECT SURVEY_ID, ITMD_NO1, ITMD_NO2, ITMDNO, ITNPI FROM DS_HSDW_Stage.PressGaney.Pivot_MD) pvt
--  ON resp.SURVEY_ID = pvt.SURVEY_ID
--  WHERE resp.SURVEY_ID IN (1378086015
--,1756611405
--,1755669473
--,1912798578
--,1947968238
--,1916241418
--,1942732232
--,1959290750)
--AND resp.[sk_Dim_PG_Question] = 805
--ORDER BY resp.SURVEY_ID
--       , sk_Dim_PG_Question

--SELECT SURVEY_ID
--      ,ITMD_NO1
--	  ,ITMD_NO2
--	  ,ITMDNO
--	  ,ITNPI
--FROM DS_HSDW_Stage.PressGaney.Pivot_MD
--  WHERE SURVEY_ID IN (1941702980
--,1944275636
--,1961403326
--,1961402275
--,1940570161
--,1949953490
--,1959290422
--,1882908903)
--ORDER BY SURVEY_ID

--SELECT DISTINCT
--       [SURVEY_ID]
--      ,[sk_Dim_Physcn]
--      ,[NPI]
--      ,[sk_Fact_Pt_Acct]
--      ,[PG_AcctNbr]
--      ,[Pat_Enc_CSN_Id]
--  FROM [DS_HSDW_Prod].[dbo].[Fact_PressGaney_Responses]
--  WHERE SURVEY_ID IN (1941702980
--,1944275636
--,1961403326
--,1961402275
--,1940570161
--,1949953490
--,1959290422
--,1882908903)
--ORDER BY SURVEY_ID
